*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

section{
    width: 1320px;

}

/* hero area start */
.hero-area{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("resources/Banner Image.png");
    height: 600px;
    border-radius: 15px;
    margin: 0 auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.hero-title h5{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 150px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
.hero-title h1{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 90px; 
    width: 632px;
    margin: auto;
}
/* hero area end */

/* discount area star */
.discount{
    text-align: center;
    margin: auto;
}

.discount img{
    width: 800px;
    height: 500px;

}
.offer h1{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.offer h5{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.category h1{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;;
}
/* discount area end */

/* Party area start */

.party{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("resources/Vectorrr.png");
    width: 1320px;
    height: 600px;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.party-disc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.party-disc h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7px;
    width: 642px;
    text-align: left;
    margin-top: 30px,;
}
.party-disc p{
    color:white;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    width: 690px;
    text-align: left;
   
}
.party-disc button{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: transparent;
    border: none;
}
.party-img img{
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Party area end */

/* Place area Start */

.place-time{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: auto;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    border-radius: 15px;

}
.palce-description h2{
    color: #070211;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    text-transform: capitalize;
    text-align: center;
}
.palce-description span{
    color: #F00;
}

.place-time-btn button{
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 10px;
    background: #F00;
    padding: 16px 32px;
    color: white;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* Place area end */ 

/* New Best area start */  

.best-offer{
    height: 735px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.best-offer-disc {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.best-offer-disc h3{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.best-offer-disc h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.best-offer-disc p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    width: 393px;
}


.best-img {
    width: 400px;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    border: 15px solid #F00;;
    border-radius: 50%;
    flex-shrink: 0;
    align-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.best-img img {
    width: 350px;
    height: 350px;
   
}

.new-year {
    width: 400px;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 100px;
    
}
.new-year h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.new-year p {
    color: black;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    width: 276px;
}
/* New Best area end */  



/* Portfolio area start */
.portfolio{
    margin: auto;
}

.portfolio-disc h3{
    color: #F00;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.portfolio-disc h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.portfolio-disc p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    width: 895px;
}

.portfolio-img img {
    padding: 7px;
    width: 423px;
    height: 430px;
}
/* Portfolio area end */  

/* Newsletter area start */  

.news-latter{
margin: auto;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
display: flex;
justify-content: center;
margin-top: 100px;
padding-bottom: 40px;
margin-bottom: 100px;
} 
.nweslatter-disc img{
    margin: auto;
    display: flex;
    margin-top: 80px;
    padding-bottom: 40px;
}
.nweslatter-disc h1{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 40px
}
.nweslatter-disc p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    width: 896px;
    padding-bottom: 40px
}
.nweslatter-disc input{
    width: 648px;
    max-height: 72px;
    border-radius: 50px;
    background: #FFF;
    border: none;
    text-align: center;
    padding: 30px;
    position: relative;
    padding-bottom: 40px
}
.nweslatter-disc input::placeholder {
    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    font-family: Inter;
    font-size: 18px;font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.nweslatter-disc button{
    margin-left: 561px;
    width: 208px;
    height: 74px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border: none;
    position: absolute;
}
.newsletter-form{
    display: flex;
    justify-content: center;
}
/* Newsletter area end */  
.footer{
    background: #070211;

}
.footer-main{
    max-width: 1320px;
    margin:auto;
    padding-block:120px ;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.footer-disc li{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    list-style: none;
}

.contact li{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    display: flex;
    gap: 10px;
    list-style:none;
}
.contact li img{
    height:25px;
    width:25px;
    margin-top: 8px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
}


.socila-ul{
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style:none;

}
.copyright{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

